<div class="pie row">
    <div class="col col-md-12 text-center">
        <div><i class="fas fa-copyright"></i> 2020 Colegio</div>
        <div><i class="fas fa-map-marked-alt"></i> Gral. Aquino c/ Valderrama</div>
        <div><i class="fas fa-phone-alt"></i></i> +595 21 575 789</div>
    </div>
</div>