<div class="pie">
    <i class="fas fa-copyright"></i> 2020 Colegio | 
    <i class="fas fa-map-marked-alt"></i> Gral. Aquino c/ Valderrama | 
    <i class="fas fa-phone-alt"></i></i> +595 21 575 789
</div>